
* {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 13px;
  color: white;
  min-height: 0;
}

@keyframes blink {
  to {
    background-color: #8fd4ff;
    color: black;
  }
}

window#waybar {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid #8fd4ff;
  border-radius: 30px 30px 30px 30px;
}

#workspaces button {
  /* border: 1px solid #8fd4ff; */
}

#workspaces button.focused {
  color: black;
  border: 1px solid #8fd4ff;
  animation-name: blink;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#workspaces button.visible {
  color: black;
  border: 1px solid #8fd4ff;
}

.modules-center,
.modules-left,
.modules-right {
  color: white;
}

.modules-center {
  font-size: 23px;
  border: 1px solid #ffffff;
  border-radius: 30px;
}

.modules-center * {
  font-size: 23px;
  padding: 0rem 1rem;
}

#custom-files {
  border-radius: 0px 31px 31px 0px;
}

#custom-terminal {
}

#custom-launcher {
  border-radius: 31px 0px 0px 31px;
}

#pulseaudio:hover,
#network:hover,
#temperature:hover,
#cpu:hover,
#memory:hover,
#battery:hover,
#clock:hover,
#custom-terminal:hover,
#custom-launcher:hover,
#custom-files:hover {
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.modules-right * {
}

#pulseaudio {
  border-radius: 30px 0px 0px 30px;
  padding: 0rem 0.5rem;
}

#network,
#temperature,
#cpu,
#memory,
#battery {
  padding: 0rem 0.5rem;
}

#clock {
  padding: 0rem 0.5rem;
}

#temperature.critical {
  color: #b62d66;
}

#battery icon {
  color: #b62d66;
}

#battery.charging {
  border-bottom: 1px dotted #8fd4ff;
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 5px;
}

#network.disconnected {
  color: #b62d66;
}
